.*
_*
*.class
*.exe
*.7z
*.zip
*test*
*.jar
*.iml
*.properties
mvnw
mvnw.cmd
\target
*.txt
!.git*
.idea/
artifacts/
Paradigms/clojure/
Paradigms/java/
Paradigms/javascript/
lib/
out/
Paradigms/prolog/
C_C++/*/build
C_C++/cpp_2/.github