.user-info {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    position: relative;
    height: 10rem;
    padding: 5px;
}

.user-info .pagination-arrows {
    font-size: 2rem;
    margin-top: -1.5rem;
}

.user-info .user-name {
    font-size: 30px;
    color: #561a8b;
}

.user-info img {
    float: right;
    margin-top: -2rem;
}